[Desktop Entry]
Name=Tea Package Maker
GenericName=Tea Package Maker
Comment=Create offline package installer
Exec=teamaker
Icon=/usr/share/icons/teamaker.svg
Terminal=false
Type=Application
Categories=Tea;PackageManager;GTK;System;Settings;Utility;
